body {
    background-color: #343a40;
    color: white;
}

.fa-check {
    border-color: green;
    color: green;
    background-color: lightgreen;
}

.fa-times {
    border-color: red;
    color: red;
    background-color: lightcoral;
}

#progress-container{
    display: none;
}